
@{
    ViewData["Title"] = "AddForm";
}

<h1>AddForm</h1>

<h1>Add</h1>

<form method="post" action="/admin/add">

    Name: <input type="text" name="name" /><br />

    Description: <input type="text" name="description" /><br />

    Price: <input type="text" name="price" /><br />

    Category: <input type="text" name="category" /><br />

    <input type="submit" />

</form>