@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://www.daily-choices.com/wp-content/uploads/2019/08/60630/shutterstock_572509414.jpg" />
    <h1 class="display-4">Welcome to Cliff Coffee Company!</h1>
    <p>
        Cliff Coffee Company started on May 11th, 2021. That's right, we're a
        brand spanking new coffee company that <strong>isn't even real</strong>. We're known for
        finding pictures of coffee off the internet and using them to make it look
        like this is a coffee shop's actual website. Mountains and coffee are both
        cool, and "Cliff Coffee Company" uses fun alliteration. Enjoy the site, and don't
        forget to sign up for our "Dollar Coffee Club", which is nothing but <i>lies</i>.
    </p>
    <br />
    <a href="/home/registrationform">
        <img src="https://pbs.twimg.com/profile_images/833689551272939520/633WtgLm_400x400.jpg" align="middle" width="80" height="70" />
        <br />
        <h3 style="text-align:center; font-family:'Comic Sans MS'">Register Now!</h3>
    </a>
    </div>
