@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="text-align:center">
    <img src="https://media.tenor.com/images/32286fb0c6ae66ff053fc7940d472bdb/tenor.gif" />
    <br />
    <br />
    This page was just here for looks...I wasn't expecting you to click on it.
</p>